.footer{
	background-color: #f2f2f2;
	height: 400px;
}
.partners{
	padding-top: 20px;	

}
.marca{
	height: 30px;
	width: auto;
	margin: 10px 30px;
	filter: grayscale(100%);
	opacity: .7;
}
.footer_box{
	display: flex;
	flex-wrap: wrap;
	color:#999;

}
.box_section{
	width: 300px;
	flex-grow: 1;
}
.footer_icon{
	margin: 0 20px;
}